<header>
  <h1></h1>
  <nav>
    <ul>
      <li routerLinkActive="active"><a [routerLink]="['/home']">Home</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/directory']">Directory</a></li>
    </ul>
  </nav>
</header>

<section id="main">
  <router-outlet></router-outlet>
</section>




