<h2>
  Listing
</h2>

<div id="filter">
  <label>Filter By Name</label>
  <input type="text" [(ngModel)]="term"/>
</div>


<ul id="ninja-listing">
  <li *ngFor="let list of listing | searchPipe:'name':term ">

    <div class="single-ninja">
      <span [ngStyle]="{background: list.belt}">{{list.belt}} Color</span>
      <h3>{{list.name | capitalize}}</h3>
    </div>

  </li>
</ul>

<div id="add-ninja">
  <input type="text" [(ngModel)]="name"/>
  <input type="text" [(ngModel)]="belt"/>
  <button (click)="fbPosting(name,belt)">Add Value</button>
</div>
